.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.shareBtn {
  background: #111827;
  color: #ffffff;
}
