.search-bar {
  background: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}
.ant-modal-body {
  padding: 0px !important;
}
.search-invite {
  display: flex;
  gap: 20px;
  align-items: center;
}
.search-invite button {
  background-color: #fff;
  padding: 9px 13px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
}
.search-box {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
  border: none;
  padding: 3px;
  flex: 1;
  margin-right: 15px;
  background-color: #eaeaea;
}
.search-box:focus-visible,
.search-box:focus,
.search-box:active {
  outline: none !important;
}
.person {
  padding: 16px 28px;
}
.person-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #374151;
  margin-bottom: 16px;
}
.person-name {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
}
.person-name h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
}
.selected {
  background: #e5e7eb;
  border-radius: 4px;
  display: flex;
  gap: 11px;
  align-items: center;
  padding: 4px 8px;
  margin-right: 3px;
}
.selected h5 {
  margin-bottom: 0px;
}
.tag-search {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.selected svg {
  cursor: pointer;
}
